.btn {
    width: 100px;
    height: 40px;
    --wd: 4px;
    --bg: #fff;
    background-color: inherit;
//outline: 1px solid #fff;
    border: 0;
    color: #333333;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 20;
}
.btn::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: red;
    z-index: -1;
    right: -170px;
    bottom: -80px;
    transform-origin: left top;
    animation: rote 2s linear infinite;
}
.btn::after {
    content: '';
    position: absolute;
    width: calc(100% - var(--wd));
    height: calc(100% - var(--wd));
    background-color: var(--bg);
    z-index: -1;
    border-radius: 5px;
    top: calc(var(--wd) / 2);
    left: calc(var(--wd) / 2);
}

@keyframes rote {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
    }
}